<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
</head>
<body>
    <h1>Tasks</h1>
    <p><a href="add/">Добавить новую задачу</a></p>
    {% for task in tasks %}
        <p>Описание - {{task.description}}, Deadline - {{task.date_deadline}}</p>
        <p><a href="edit/?id={{task.id}}">редактировать</a> | <a href="del/?id={{task.id}}">удалить</a></p>
    {% endfor %}
</body>
</html>