<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create task</h1>
    
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form">
            <div class="form_row">
                <label for="description">Описание: </label>
                <input id="description" name="description" type="text" value="{{ task.description }}">
            </div>
            <div class="form_row">
                <label for="status">Статус:</label>
                {{ task.status }}
                {% for choice in choices %}
                <label for="contactChoice1">{{choice.1}}</label>
                
                <input type="radio" id="status" name="status" value="{{ choice.0}}" {% if task.status == choice.0 %} checked {% endif %}>        
                {% endfor %}
            </div>
            <div class="form_row">
                <label for="date_deadline">Дата выполнения</label>
                <input id="date_deadline" name="date_deadline" type="text" value="{{ task.date_deadline }}">
            </div>
            <div class="form_row">
                <input type="submit">
            </div>
        </div>
    </form>
</body>
</html>