<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create task</title>
</head>
<body>
    <h1>Create task</h1>
    
    {{choice.0}}
    
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form">
            <div class="form_row">
                <label for="description">Описание: </label>
                <input id="description" name="description" type="text">
            </div>
            <div class="form_row">
                <label for="status">Статус:</label>
                {% for choice in choices %}
                <label for="contactChoice1">{{choice.1}}</label>
                <input type="radio" id="status" name="status" value="{{ choice.0}}">
                {% endfor %}
            </div>
            <div class="form_row">
                <label for="date_deadline">Дата выполнения</label>
                <input id="date_deadline" name="date_deadline" type="text">
            </div>
            <div class="form_row">
                <input type="submit">
            </div>
        </div>
    </form>
</body>
</html>